/* Universal Changes */
body {
    background-color: #f9fcfc;
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    color: #4E00FD;
    font-family: 'IBM-Plex-Sans-Bold', 'Gill-Sans-Semibold';
    line-height: 2rem;  
}
h1.name{
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 2rem;   
}
button {
    outline: none;
    border: none;
    background: none;
}
.menu-items a:hover {
    color: #4E00FD;
    transition: all .5s ease-in-out;
}

/* Navbar */
.navbar {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    z-index: 1;
}  
.nav-menu {
    margin-top: 2rem;
}
.menu-items {
    font-family: 'Gill-Sans-Regular';
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 3.5rem;
    margin-top: 1.5rem;
}
.nav-menu li {
    list-style: none;
    display: inline-block; 
}
.nav-menu a {
    display: block;
    padding: 0.25rem 0.5rem 0.25rem;
    text-decoration: none;
}

/* NavBar Hamburger Menu */
.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1;
}
.menu-btn_burger,
.menu-btn_burger::before,
.menu-btn_burger::after {
    width: 1.75rem;
    height: 3px;
    border-radius: 30px;
    background-color: #4E00FD;
    transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
}
.menu-btn_burger::before {
    transform: translateY(-0.5rem);
}
.menu-btn_burger::after {
    transform: translateY(0.5rem);
}

/* Animation for hamburger menu*/
.menu-btn.open .menu-btn_burger {
    transform: translateX(2rem);
    background: transparent;
}
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #F2F3F2;
}
.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #F2F3F2;
}

/* Links and Images */
a {
    color: #454545;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: underline;
}
img.rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Fonts */
@font-face {
    font-family: 'Gill-Sans-Regular';
    src: url(fonts/GillSans.woff2) format('woff2'),
         url(fonts/GillSans.woff) format('woff');
}
@font-face {
    font-family: 'Gill-Sans-Semibold';
    src: url(fonts/GillSans-SemiBold.woff2) format('woff2'),
         url(fonts/GillSans-SemiBold.woff) format('woff');
}
@font-face {
    font-family: 'Chivo-Bold';
    src: url(fonts/Chivo-Bold.woff2) format('woff2'),
         url(fonts/Chivo-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Open-Sans-Regular';
    src: url(fonts/OpenSans-Regular.woff2) format('woff2'),
         url(fonts/OpenSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'IBM-Plex-Sans-Regular';
    src: url(fonts/IBMPlexSans.woff2) format('woff2'),
         url(fonts/IBMPlexSans.woff) format('woff');
}
@font-face {
    font-family: 'IBM-Plex-Sans-Bold';
    src: url(fonts/IBMPlexSans-Bold.woff2) format('woff2'),
         url(fonts/IBMPlexSans-Bold.woff) format('woff');
}
/* Universal Text Changes */
p {
    font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
    font-size: 1.25rem;
}
ul {
    font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
}



/* Home Page */
.fwh-container {
    display: flex;
    width: 100%;
    margin: 0;
}
.fwh {
    width: 100%;
    min-height: 100vh;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 600px;
    position: relative;
    margin: auto;
}
.hp-description {
    top: 30vh;
    position: relative;
}
.hp-portrait img{
    display: none;
}
.fwh h4 {
    font-family: 'Gill-Sans-Regular','IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
    margin-bottom: 0;
}
#hp-name {
    text-align: left;
    font-family: 'IBM-Plex-Sans-Bold', 'Gill-Sans-Semibold';
    font-size: 5rem;
    margin: 0;   
    line-height: 5rem; 
}
#tagline-description {
    font-family: 'Gill-Sans-Semibold', 'IBM-Plex-Sans-Bold', 'Chivo-Bold';
    font-size: 1.5rem;
    color: #252525;
    margin-top: 1rem;
}
.my_work {
    top: 87vh;
    position: absolute;
    width: 100%;
    left: 0;
}
.fwh h5 {
    font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
}
#arrow-icon {
    height: 2rem;
    width: 100%;
}
.fwh-work {
    margin-top: 1rem;
    padding: 1.5rem;
    /* margin: auto; */
    /* max-width: 600px; */
}
.fwh-work img.rounded {
    margin-top: 1rem;
}
.fwh-scroll {
    margin: 0;
    display: flex;
    justify-content: center;
}
#fwh-gradient {
    display: flex;
    justify-content: center;
    min-height: 120vh;
    background-image: linear-gradient(#4E00FD , #DE0AFD);
}
.work-title {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold';
    display: block;
    color: #F2F3F2;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/* Project Pages */
.proj-fwh {
    padding: 2rem;
    margin: auto;
    max-width: 600px;
    bottom: 0;
}
.proj-fwh p{
    /* padding: 1rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.proj-fwh h1 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.proj-img {
    display: block;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* About Me Page */
.skills ul {
    list-style-type: none;
    line-height: 3rem;
    padding: 1rem;
    padding-top: 1rem;
}
#secondary-heading {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold';
    padding-top: 2rem;
    padding-bottom: 0;
}
.skills img {
    width: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
#graphic-design {
    position: relative;
    top: 3px;
}
#adobe-suite {
    position: relative;
    top: 2px;
}
#user-research {
    position: relative;
    top: 2px;
}
#html-css {
    position: relative;
    top: 2px;
}
#photography {
    position: relative;
    top: 3px;
}
#video-editing {
    position: relative;
    top: 2px;
}


/* Resume Page */
.resume-fwh {
    padding: 2rem;
    margin: auto;
    max-width: 600px;
    bottom: 0;
}
.resume-fwh p{
    margin-bottom: 2rem;
}
.resume-section-title{
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold'; 
    font-size: 1.25rem;
}
.resume-list {
    list-style: none;   
    line-height: 1.5rem;
    margin-top: 1rem;  
    margin-bottom: 1rem; 
    padding-left: 1.5rem;
}
.resume-bold {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold'; 
}
.resume-fade {
    font-size: 1rem;
    display: inline; 
    color: #6c6e70;   
}
.resume-desc {
    list-style: circle;
}
.button {
    text-align: center;
    padding: 1rem;
}
.myButton {
	background-color: #4E00FD;
	border-radius:28px;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Gill-Sans-Semibold', 'Chivo-Bold'; 
    padding: 0.75rem 1rem;
}




/* Footer */
.footer {
    /* margin-top: 1rem; */
    height: 7vh;
}
#contact-id {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold';
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.icons {
    float: right;
    width: 2rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
}
.footer p {
    float: left;
    margin-left: 1.5rem;
    margin-top: 1.25rem;
}




/* Media query - mobile */
@media (max-width: 719px) {
    .menu-btn {
        display: flex;
    }
    .nav-menu {
        font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular'; 
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #4E00FD;
        transition: transform 0.3s ease-in-out;
    }
    .nav-menu li {
        display: flex;
        margin-top: 1rem;
    }
    .nav-menu a {
        color: #F2F3F2;
        font-size: 2.25rem;
    }
    .nav-menu.open {
        transform: translateX(0);
    }
    .menu-items {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 60vh;
        right: 1.5rem;
        float: right;
        direction: rtl;
    }
    img.rounded {
        border-radius: 1rem;
    }
    .proj-description {
        display: none;
    }
    .proj-button {
        display: none;
    }
}


/* Media query - tablet */
@media (max-width: 1199px) and (min-width: 719px) {
    .menu-btn {
        display: flex;
    }
    .nav-menu {
        font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular'; 
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #4E00FD;
        transition: transform 0.3s ease-in-out;
    }
    .nav-menu li {
        display: flex;
        margin-top: 1rem;
    }
    .nav-menu a {
        color: #F2F3F2;
        font-size: 2.25rem;
    }
    .nav-menu.open {
        transform: translateX(0);
    }
    .menu-items {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 60vh;
        right: 1.5rem;
        float: right;
        direction: rtl;
    }
    .fwh {
        max-width: 700px;
    }
    .fwh-work {
        max-width: 800px;
    }
    img.rounded {
        border-radius: 1rem;
    }
    .work-title {
        font-size: 1.7rem;
    }
    .fwh h4 {
        font-size: 1.2rem;
    }
    #hp-name {
        font-size: 10rem;
        line-height: 8rem;
    }
    #tagline-description {
        font-size: 1.75rem;
    }

    .proj-description {
        display: none;
    }
    .proj-button {
        display: none;
    }

    /* Project Pages */
    .proj-fwh {
        max-width: 700px;
    }
    .proj-fwh h1 {
        font-size: 2.5rem;
    }
    /* Resume Page */
    h1.name {
        font-size: 3.5rem;
    }
}


/* Media query - desktop */
@media (min-width: 1200px) {    
    /* Navbar */
    .navbar {
        padding: 0;
    }
    .logo {
        padding-left: 3rem;
    }
    .menu-items {
        font-size: 1.25rem;   
    }
    .nav-menu {
        padding-right: 3rem;
    }
    .nav-menu a {
        padding: 0.25rem 0.75rem 0.25rem;;
    }
    /* Main Elements */
    #fwh-gradient{
        background: #f9fcfc;
    }
    .fwh-container {
        justify-content: center;   
    }
    .fwh {
        display: grid;
        align-items: center;
        min-width: 100%;
        margin: 0;
        padding: 0;
        /* grid-column-gap: 24px; */
        grid-template-columns: repeat(17, minmax(0, 1fr));
        grid-template-rows: repeat(10, minmax(0, 1fr));
        max-height: 100vh;
    }
    .fwh-work {
        max-width: 1100px;
    }
    .fwh h4 {
        font-size: 1.5rem;
    }
    .hp-description {
        grid-column: 4 / span 6;
        grid-row: 5 / span 2;
    }
    #hp-name {
        text-align: left;
        font-family: 'IBM-Plex-Sans-Bold', 'Gill-Sans-Semibold';
        font-size: 11.5rem;
        margin: 0;   
        line-height: 9rem;         
    }
    #tagline-description {
        padding-top: 1.5rem;
        font-size: 1.75rem;
    }
    .hp-description {
        top: 0;
    }
    .hp-portrait {
        grid-column: 12 / span 3;
        grid-row: 5 / span 2;
    }
    .hp-portrait img{
        display: flex;
        justify-content: flex-end;
        max-width: 20rem;
        border-radius: 1rem;
        top: 30vh;
    }
    /* My Work Section */

    /* General Card Styling */
    .fwh-work {
        width: 70rem;
        padding: 0;
    }
    .proj {
        border-radius: 2rem;
        display: grid;
        max-height: 600px;
        grid-column-gap: 24px;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: repeat(13, minmax(0, 1fr));
        overflow: hidden;
        margin-bottom: 3rem;
    }
    .proj-title {
        grid-column: 2 / span 4;
        grid-row: 3;
    }
    .work-title {
        font-size: 3rem;
        margin: 0;
        text-align: left;
    } 
    .proj-thumb {
        display: flex;
        align-items: center;
        grid-column: 7 / span 7;
        grid-row: 2 / span 11;
    }
    .proj-thumb img{
        width: 40rem;
    } 
    .proj-description {
        color: white;
        grid-column: 2 / span 4;
        grid-row: 5;
        margin-top: 2rem;
    }
    .proj-description p {
        font-size: 1.5rem; 
    }
    .proj-button {
        grid-column: 2 / span 2;
        grid-row: 11;
    }
    .proj-button a {
        background-color: #4366a5d0;
        border: 2px solid white;
        padding: 0.5rem 1rem;
    }
    /* Project One */
    #proj-one {
        background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%);
    }
    #proj-one-title {
        color: #C48CFC;
    }
    /* Project Two */
    #proj-two {
        background-image: url(images/homepage/proj-two-bg.jpg);
    }
    #proj-two-title {
        grid-column: 8 / span 4;
        grid-row: 3;
    }
    #proj-two-thumb {
        grid-column: 1 / span 7;
        position: relative;
        right: 100px;
    }
    #proj-two-description {
        grid-column: 8 / span 4;
        grid-row: 5;
    }
    #proj-two-button {
        grid-column: 10 / span 2;
        grid-row: 11;
        margin-top: 1.5rem;
        padding-left: 2rem;
    }
    #proj-two-button a{
        background: #fb5851;
    }
    /* Project Three */
    #proj-three {
        background-image: url(images/homepage/proj-three-bg-1.jpg);
        background-size: cover;
    }
    #proj-three-title {
        color: #869fced0 ;
    }
    #proj-three-button a{
        background: #2ea1d6;
    }
    /* Project Four */
    #proj-four {
        background-image: url(images/homepage/proj-four-bg.jpg);
        background-size: cover;
    }
    #proj-four-title {
        color: #7e92a1 ;
    }
    #proj-four-text {
        color: #252525;
    }

    /* Project Pages */
    .proj-fwh h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .proj-fwh , .resume-fwh {
        max-width: 800px;
    }
    /* Resume Page */
    h1.name {
        font-size: 3.5rem;
    }
    .resume-list {
        font-size: 1.2rem;
    }
    .resume-bold {
        line-height: 1.6rem;
    }
    .resume-fade {
        font-size: 1.2rem;
    }
    /* About Page */
    #about-portrait {
        float: right;
        margin-top: 3rem;
        width: 20rem;
        border-radius: 1rem;
    }   
}
