/* Universal Changes */
body {
    background-color: #f9fcfc;
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    color: #4E00FD;
    font-family: 'IBM-Plex-Sans-Bold', 'Gill-Sans-Semibold';
    line-height: 2rem;  
}
h1.name{
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 2rem;   
}

/* Navbar */
.navbar {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 0 1.5rem;
    z-index: 1;
}  
.nav-menu {
    margin-top: 2rem;
}
.menu-items {
    font-family: 'Gill-Sans-Regular';
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 3.5rem;
    margin-top: 1.5rem;
}
.nav-menu li {
    list-style: none;
    display: inline-block; 
}
.nav-menu a {
    display: block;
    padding: 0.25rem 0.5rem 0.25rem;
    text-decoration: none;
}

/* NavBar Hamburger Menu */
.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1;
}
.menu-btn_burger,
.menu-btn_burger::before,
.menu-btn_burger::after {
    width: 1.75rem;
    height: 3px;
    border-radius: 30px;
    background-color: #4E00FD;
    transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
}
.menu-btn_burger::before {
    transform: translateY(-0.5rem);
}
.menu-btn_burger::after {
    transform: translateY(0.5rem);
}

/* Animation for hamburger menu*/
.menu-btn.open .menu-btn_burger {
    transform: translateX(2rem);
    background: transparent;
}
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #F2F3F2;
}
.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #F2F3F2;
}

/* Links and Images */
a {
    color: #454545;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: underline;
}
img.rounded {
    border-radius: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Fonts */
@font-face {
    font-family: 'Gill-Sans-Regular';
    src: url(fonts/GillSans.woff2) format('woff2'),
         url(fonts/GillSans.woff) format('woff');
}
@font-face {
    font-family: 'Gill-Sans-Semibold';
    src: url(fonts/GillSans-SemiBold.woff2) format('woff2'),
         url(fonts/GillSans-SemiBold.woff) format('woff');
}
@font-face {
    font-family: 'Chivo-Bold';
    src: url(fonts/Chivo-Bold.woff2) format('woff2'),
         url(fonts/Chivo-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Open-Sans-Regular';
    src: url(fonts/OpenSans-Regular.woff2) format('woff2'),
         url(fonts/OpenSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'IBM-Plex-Sans-Regular';
    src: url(fonts/IBMPlexSans.woff2) format('woff2'),
         url(fonts/IBMPlexSans.woff) format('woff');
}
@font-face {
    font-family: 'IBM-Plex-Sans-Bold';
    src: url(fonts/IBMPlexSans-Bold.woff2) format('woff2'),
         url(fonts/IBMPlexSans-Bold.woff) format('woff');
}
/* Universal Text Changes */
p {
    font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
    font-size: 1.25rem;
}
ul {
    font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
}



/* Home Page */
.fwh-container {
    display: flex;
    width: 100%;
    margin: 0;
}
.fwh {
    width: 100%;
    min-height: 100vh;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 600px;
    position: relative;
    margin: auto;
}
.hp-description {
    top: 30vh;
    position: relative;
}
.hp-portrait img{
    display: none;
}
.fwh h4 {
    font-family: 'Gill-Sans-Regular','IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
    margin-bottom: 0;
}
#hp-name {
    text-align: left;
    font-family: 'IBM-Plex-Sans-Bold', 'Gill-Sans-Semibold';
    font-size: 5rem;
    margin: 0;   
    line-height: 5rem; 
}
#tagline-description {
    font-family: 'Gill-Sans-Semibold', 'IBM-Plex-Sans-Bold', 'Chivo-Bold';
    font-size: 1.5rem;
    color: #252525;
    margin-top: 1rem;
}
.my_work {
    top: 87vh;
    position: absolute;
    width: 100%;
    left: 0;
}
.fwh h5 {
    font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
}
#arrow-icon {
    height: 2rem;
    width: 100%;
}
.fwh-work {
    margin-top: 1rem;
    padding: 1.5rem;
    /* margin: auto; */
    /* max-width: 600px; */
}
.fwh-work img.rounded {
    margin-top: 1rem;
}
.fwh-scroll {
    margin: 0;
    display: flex;
    justify-content: center;
}
#fwh-gradient {
    display: flex;
    justify-content: center;
    min-height: 120vh;
    background-image: linear-gradient(#4E00FD , #DE0AFD);
}
.work-title {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold';
    display: block;
    color: #F2F3F2;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/* Project Pages */
.proj-fwh {
    padding: 2rem;
    margin: auto;
    max-width: 600px;
    bottom: 0;
}
.proj-fwh p{
    /* padding: 1rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.proj-fwh h1 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.proj-img {
    display: block;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* About Me Page */
.skills ul {
    list-style-type: none;
    line-height: 3rem;
    padding: 1rem;
    padding-top: 1rem;
}
#secondary-heading {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold';
    padding-top: 2rem;
    padding-bottom: 0;
}
.skills img {
    width: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
#graphic-design {
    position: relative;
    top: 3px;
}
#adobe-suite {
    position: relative;
    top: 2px;
}
#user-research {
    position: relative;
    top: 2px;
}
#html-css {
    position: relative;
    top: 2px;
}
#photography {
    position: relative;
    top: 3px;
}
#video-editing {
    position: relative;
    top: 2px;
}


/* Resume Page */
.resume-fwh {
    padding: 2rem;
    margin: auto;
    max-width: 600px;
    bottom: 0;
}
.resume-fwh p{
    margin-bottom: 2rem;
}
.resume-section-title{
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold'; 
    font-size: 1.25rem;
}
.resume-list {
    list-style: none;   
    line-height: 1.5rem;
    margin-top: 1rem;  
    margin-bottom: 1rem; 
    padding-left: 1.5rem;
}
.resume-bold {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold'; 
}
.resume-fade {
    font-size: 1rem;
    display: inline; 
    color: #6c6e70;   
}
.resume-desc {
    list-style: circle;
}
.button {
    text-align: center;
    padding: 1rem;
}
.myButton {
	background-color: #4E00FD;
	border-radius:28px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Gill-Sans-Semibold', 'Chivo-Bold'; 
    padding: 0.75rem 1rem;
}




/* Footer */
.footer {
    /* margin-top: 1rem; */
    height: 7vh;
}
#contact-id {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold';
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.icons {
    float: right;
    width: 2rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
}
.footer p {
    float: left;
    margin-left: 1.5rem;
    margin-top: 1.25rem;
}

@media (min-width: 992px) {
    .navbar {
        padding-left: 15rem;
        padding-right: 15rem;
    }
    .fwh-container {
        justify-content: center;
        
    }
    .fwh {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 15rem;
        padding-right: 15rem;
        width: 100%;
        max-width: 100%;
    }
    .fwh h4 {
        font-size: 1.2rem;
    }
    #hp-name {
        text-align: left;
        font-family: 'IBM-Plex-Sans-Bold', 'Gill-Sans-Semibold';
        font-size: 7.5rem;
        margin: 0;   
        line-height: 7.5rem;         
    }
    .hp-description {
        top: 0;
        justify-content: flex-start;
    }
    .hp-portrait img{
        display: inline;
        max-width: 20rem;
        border-radius: 1rem;
        top: 30vh;
    }
    .fwh-work {
        width: 75rem;
    }
    .proj {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        align-items: center;
        border: 2px solid green;
        margin-bottom: 4rem;
    }
    .proj-thumb img{
        border: 2px solid pink;
        width: 35rem;
    }
    .work-title {
        font-size: 2.5rem;
    }
    #thumb-two {
        display: flex;
        order: 2;
    }
    #title-two {
        display: flex;
        order: 1;
        justify-content: center;
    }

    /* Project/Resume/About Page Adjustments */
    .proj-fwh , .resume-fwh {
        max-width: 800px;
    }
    #about-portrait {
        float: right;
        margin-top: 3rem;
        width: 20rem;
    }   
}




/* Media query - mobile */
@media (max-width: 767px) {
    .menu-btn {
        display: flex;
    }
    .nav-menu {
        font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular'; 
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #4E00FD;
        transition: transform 0.3s ease-in-out;
    }
    .nav-menu li {
        display: flex;
        margin-top: 1rem;
    }
    .nav-menu a {
        color: #F2F3F2;
        font-size: 2.25rem;
    }
    .nav-menu.open {
        transform: translateX(0);
    }
    .menu-items {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 60vh;
        right: 1.5rem;
        float: right;
        direction: rtl;
    }
}
