/* Universal Changes */
body {
    background-color: #f9fcfc;
    min-height: 100vh;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    color: #4E00FD;
    font-family: 'IBM-Plex-Sans-Bold', 'Gill-Sans-Semibold';
    line-height: 2rem;  
}
h1.name{
    font-size: 3rem;
    margin-bottom: 2rem;   
    margin-top: 5rem;
}
button {
    outline: none;
    border: none;
    background: none;
}

/* Navbar */
.navbar {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    z-index: 1;
}  
.menu-items {
    font-family: 'Gill-Sans-Regular';
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 3.5rem;
    margin-top: 1.5rem;
}
.nav-menu li {
    list-style: none;
    display: inline-block; 
}
.nav-menu a {
    display: block;
    padding: 0.25rem 0.5rem 0.25rem;
}
.open {
    overflow: hidden;
}

/* NavBar Hamburger Menu */
.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1;
}
.menu-btn_burger,
.menu-btn_burger::before,
.menu-btn_burger::after {
    width: 1.75rem;
    height: 3px;
    border-radius: 30px;
    background-color: #4E00FD;
    transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
}
.menu-btn_burger::before {
    transform: translateY(-0.5rem);
}
.menu-btn_burger::after {
    transform: translateY(0.5rem);
}

/* Animation for hamburger menu*/
.menu-btn.open .menu-btn_burger {
    transform: translateX(2rem);
    background: transparent;
}
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #F2F3F2;
}
.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #F2F3F2;
}

/* Links and Images */
a {
    color: #454545;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: underline;
}
img.rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.active {
    text-decoration: underline;
    text-decoration-color: #4E00FD;
}


/* Fonts */
@font-face {
    font-family: 'Gill-Sans-Regular';
    src: url(fonts/GillSans.woff2) format('woff2'),
         url(fonts/GillSans.woff) format('woff');
}
@font-face {
    font-family: 'Gill-Sans-Semibold';
    src: url(fonts/GillSans-SemiBold.woff2) format('woff2'),
         url(fonts/GillSans-SemiBold.woff) format('woff');
}
@font-face {
    font-family: 'Chivo-Bold';
    src: url(fonts/Chivo-Bold.woff2) format('woff2'),
         url(fonts/Chivo-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Open-Sans-Regular';
    src: url(fonts/OpenSans-Regular.woff2) format('woff2'),
         url(fonts/OpenSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'IBM-Plex-Sans-Regular';
    src: url(fonts/IBMPlexSans.woff2) format('woff2'),
         url(fonts/IBMPlexSans.woff) format('woff');
}
@font-face {
    font-family: 'IBM-Plex-Sans-Bold';
    src: url(fonts/IBMPlexSans-Bold.woff2) format('woff2'),
         url(fonts/IBMPlexSans-Bold.woff) format('woff');
}
/* Universal Text Changes */
p {
    font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
    font-size: 1.25rem;
}
ul {
    font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
}



/* Home Page */
.fwh-container {
    display: flex;
    width: 100%;
    margin: 0;
    background: url(images/homepage/homepage-background2.svg) no-repeat center;
    background-size: cover; 
}

.hp-description {
    margin-top: 14rem;
}
.hp-portrait img{
    display: none;
}
.fwh h4 {
    font-family: 'Gill-Sans-Regular','IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
    margin-bottom: 0;
}
#hp-name {
    text-align: left;
    font-size: 5.75rem;
    margin: 0;   
    line-height: 5rem; 
}
#tagline-description {
    font-family: 'Gill-Sans-Semibold', 'IBM-Plex-Sans-Bold', 'Chivo-Bold';
    font-size: 1.5rem;
    color: #252525;
    margin-top: 1rem;
}
.my_work {
    top: 87vh;
    position: absolute;
    width: 100%;
    left: 0;
}
.fwh h5 {
    font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular';
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
}
#arrow-icon {
    height: 2rem;
    width: 100%;
}
.fwh-work {
    padding: 1.5rem;
    /* margin-top: 1rem; */
}
.fwh-scroll {
    margin: 0;
    display: flex;
    justify-content: center;
}
#fwh-gradient {
    display: flex;
    justify-content: center;
    min-height: 120vh;
    background-image: linear-gradient(#4E00FD , #DE0AFD);
}
.work-title {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold';
    display: block;
    color: #F2F3F2;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1;
}

/* Project Pages */
.proj-fwh {
    padding: 2rem;
    margin: auto;
    bottom: 0;
}
.proj-fwh p{
    /* padding: 1rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 600px;
}
.proj-fwh h1 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.proj-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* About Me Page */
.skills ul {
    list-style-type: none;
    line-height: 3rem;
    padding: 1rem;
    padding-top: 1rem;
}
#secondary-heading {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold';
    padding-bottom: 0;
}
.skills img {
    width: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
#graphic-design {
    position: relative;
    top: 3px;
}
#adobe-suite {
    position: relative;
    top: 2px;
}
#user-research {
    position: relative;
    top: 2px;
}
#html-css {
    position: relative;
    top: 2px;
}
#photography {
    position: relative;
    top: 3px;
}
#video-editing {
    position: relative;
    top: 2px;
}


/* Resume Page */
.resume-fwh {
    padding: 2rem;
    margin: auto;
    max-width: 600px;
}
.resume-fwh p{
    margin-bottom: 2rem;
}
.resume-section-title{
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold'; 
    font-size: 1.25rem;
}
.resume-list {
    list-style: none;   
    line-height: 1.5rem;
    margin-top: 1rem;  
    margin-bottom: 1rem; 
    padding-left: 1.5rem;
}
.resume-bold {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold'; 
}
.resume-fade {
    font-size: 1rem;
    display: inline; 
    color: #6c6e70;   
}
.resume-desc {
    list-style: circle;
}
.previous_next {
    display: flex;
    justify-content: center;
}
.button {
    color:#4E00FD;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.button a{
    color:#4E00FD;
    background: none;
    border: 2px solid #4E00FD;
    padding: 0.5rem 1rem;
}
.button a:hover {
    color:#ffffff;
}
.myButton {
	background-color: #4E00FD;
	border-radius:28px;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Gill-Sans-Semibold', 'Chivo-Bold'; 
    padding: 0.75rem 1rem;
}
.myButton:hover{
    background-color: #4E00FD;
    transition: 0.3s ease-in-out;
}


/* Footer */
.footer {
    display: flex;
    height: 7vh;
    width: 100%;
}
#contact-id {
    font-family: 'Gill-Sans-Semibold', 'Chivo-Bold';
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.icons {
    width: 2rem;
    margin-right: 1rem;
}
.footer p {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.footer a {
    display: flex;
    align-items: center;
}
.footer_icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
.footer_name {
    display: flex;
    width: 100%;
}




/* Media query - mobile */
@media (max-width: 719px) {
    .fwh {
        width: 100%;
        min-height: 100vh;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        max-width: 600px;
        position: relative;
        margin: auto;
    }   
    .menu-btn {
        display: flex;
    }
    .nav-menu {
        font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular'; 
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #4E00FD;
        transition: transform 0.3s ease-in-out;
    }
    .nav-menu li {
        display: flex;
        margin-top: 1rem;
    }
    .nav-menu a {
        color: #F2F3F2;
        font-size: 2.25rem;
    }
    .nav-menu.open {
        transform: translateX(0);
    }
    .menu-items {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 60vh;
        right: 1.5rem;
        float: right;
        direction: rtl;
    }
    .proj-description {
        display: none;
    }
    .proj-button {
        display: none;
    }
    img.rounded {
        border-radius: 1rem;
    }
    /* Resume Page */
    h1.name {
        margin-top: 6rem;
    }
    #secondary-heading {
        padding-top: 2rem;
    }
}

/* Media query - tablet */
@media (min-width: 719px) and (max-width: 956px) {
    /* Navbar */
    .menu-btn {
        display: flex;
    }
    .nav-menu {
        font-family: 'Gill-Sans-Regular', 'IBM-Plex-Sans-Regular', 'Open-Sans-Regular'; 
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #4E00FD;
        transition: transform 0.3s ease-in-out;
    }
    .nav-menu li {
        display: flex;
        margin-top: 1rem;
    }
    .nav-menu a {
        color: #F2F3F2;
        font-size: 2.25rem;
    }
    .nav-menu.open {
        transform: translateX(0);
    }
    .menu-items {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 60vh;
        right: 1.5rem;
        float: right;
        direction: rtl;
    }
    /* Main Elements */
    .fwh {
        max-width: 700px;
        height: 100vh;
    }
    .hp-description {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    #hp-name {
        font-size: 10rem;
        line-height: 8rem;
    }
    #tagline-description {
        font-size: 1.75rem;
    }
    /* Project Cards */
    .fwh-work {
        max-width: 100%;
    }
    .proj {
        border-radius: 2rem;
        display: grid;
        max-height: 468px;
        grid-template-columns: repeat(13, minmax(0, 1fr));
        grid-template-rows: repeat(12, minmax(0, 1fr));
        overflow: hidden;
        margin-bottom: 3rem;
    }
    .proj-index-title {
        grid-column: 2 / span 5;
        grid-row: 3;
    }
    .work-title {
        font-size: 2.25rem;
        margin: 0;
        text-align: left;
        width: 16rem;
    }
    .proj-thumb {
        display: flex;
        align-items: center;
        grid-column: 7 / span 7;
        grid-row: 3 / span 11;
    }
    .proj-thumb img {
        width: 35rem;
    }
    .proj-description {
        display: block;
        color: white;
        grid-column: 2 / span 4;
        grid-row: 5;
        margin-top: 1rem;
        width: 16rem;
    }
    .proj-description p {
        font-size: 1.25rem; 
    }
    .proj-button {
        display: block;
        grid-column: 2 / span 3;
        grid-row: 11;
    }
    .proj-button a {
        background: none;
        border: 2px solid white;
        padding: 0.5rem 1rem;
    }
    /* Project One */
    #proj-one {
        background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%);
    }
    #proj-one-title {
        color: #C48CFC;
    }
    /* Project Two */
    #proj-two {
        background-image: url(images/homepage/proj-two-bg.jpg);
    }
    #proj-two-title {
        grid-column: 9 / span 5;
        grid-row: 3;
    }
    #proj-two-thumb {
        position: relative;
        left: -31rem;
    }
    #proj-two-description {
        grid-column: 9 / span 5;
        grid-row: 5;
    }
    #proj-two-button {
        grid-column: 11 / span 3;
        grid-row: 11;
        margin-left: .75rem;
    }
    /* Project Three */
    #proj-three {
        background-image: url(images/homepage/proj-three-bg-1.jpg);
        background-size: cover;
    }
    #proj-three-title {
        color: #869fced0 ;
    }
    /* Project Four */
    #proj-four {
        background-image: url(images/homepage/proj-four-bg.jpg);
        background-size: cover;
    }
    #proj-four-title {
        color: #7e92a1 ;
    }
    #proj-four-text {
        color: #252525;
    }   
    /* Project Pages */
    .proj-fwh p{
        max-width: 700px;
    }
    .proj-fwh h1 {
        font-size: 2.5rem;
    }
    /* Resume Page */
    h1.name {
        font-size: 3.5rem;
    }
}


/* Media query - desktop */
@media (min-width: 957px) {    
    /* Navbar */
    .navbar {
        padding: 0;
    }
    .logo {
        padding-left: 3rem;
    }
    .menu-items {
        font-size: 1.25rem;   
    }
    .menu-items a:hover {
        color: #4E00FD;
        transition: all .5s ease-in-out;
    }
    .nav-menu {
        padding-right: 3rem;
        margin-top: 2rem;
    }
    .nav-menu a {
        padding: 0.25rem 0.75rem 0.25rem;;
    }
    /* Main Elements */
    .fwh {
        height: 100vh;
        position: relative;
        right: 3rem;
        max-width: 50rem;
    }
    #fwh-gradient{
        background-image: linear-gradient(#4E00FD 0%, #f9fcfc 50%);
    }
    .fwh-container {
        justify-content: center;  
    }
    .fwh-work {
        max-width: 1100px;
    }
    .fwh h4 {
        font-size: 1.5rem;
    }
    .hp-description {
        grid-column: 1;

    }
    #hp-name {
        text-align: left;
        font-size: 11.5rem;
        margin: 0;   
        line-height: 9rem;         
    }
    #tagline-description {
        padding-top: 1.5rem;
        font-size: 1.75rem;
        max-width: 35rem;
    }
    .hp-portrait {
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        margin-top: 14rem;
    }
    .hp-portrait img{
        display: flex;
        justify-content: flex-end;
        max-width: 23rem;
        border-radius: 1rem;
        top: 30vh;
    }
    /* My Work Section */

    /* General Card Styling */
    .fwh-work {
        width: 70rem;
        padding: 0;
    }
    .proj {
        border-radius: 2rem;
        display: grid;
        max-height: 600px;
        grid-column-gap: 24px;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: repeat(13, minmax(0, 1fr));
        overflow: hidden;
        margin-bottom: 3rem;
    }
    .proj-index-title {
        grid-column: 2 / span 4;
        grid-row: 3;
    }
    .work-title {
        font-size: 3rem;
        margin: 0;
        text-align: left;
        width: 22rem;
    }
    .proj-thumb {
        display: flex;
        align-items: center;
        grid-column: 7 / span 7;
        grid-row: 4 / span 11;
    }
    .proj-thumb img{
        width: 50rem;
    } 
    .proj-description {
        color: white;
        grid-column: 2 / span 4;
        grid-row: 5;
        margin-top: 2rem;
    }
    .proj-description p {
        font-size: 1.5rem; 
    }
    .proj-button {
        grid-column: 2 / span 2;
        grid-row: 11;
    }
    .proj-button a {
        background: none;
        border: 2px solid white;
        padding: 0.5rem 1rem;
    }
    /* Project One */
    #proj-one {
        background: linear-gradient(to right top, #194189 0%, #3B4980 25%, #8738A7 100%);
    }
    #proj-one-title {
        color: #C48CFC;
    }
    /* Project Two */
    #proj-two {
        background-image: url(images/homepage/proj-two-bg.jpg);
    }
    #proj-two-title {
        grid-column: 8 / span 4;
        grid-row: 3;
    }
    #proj-two-thumb {
        grid-column: 1 / span 7;
        position: relative;
        right: 250px;
    }
    #proj-two-description {
        grid-column: 8 / span 4;
        grid-row: 5;
    }
    #proj-two-button {
        grid-column: 10 / span 3;
        grid-row: 11;
        margin-top: 1.5rem;
        padding-left: 2rem;
    }
    /* Project Three */
    #proj-three {
        background-image: url(images/homepage/proj-three-bg-1.jpg);
        background-size: cover;
    }
    #proj-three-title {
        color: #869fced0 ;
    }
    /* Project Four */
    #proj-four {
        background-image: url(images/homepage/proj-four-bg.jpg);
        background-size: cover;
    }
    #proj-four-title {
        color: #7e92a1 ;
    }
    #proj-four-text {
        color: #252525;
    }

    /* Project Pages */
    .proj-fwh {
        padding: 0;
    }
    .proj-learned {
        font-size: 3rem;
    }

    /* Project 1 Page */
    #proj1-article {
        width: 100%;
        background-image: url(images/proj1/proj1_background.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .proj-title {
        grid-column:  7 / span 10;
        grid-row: 3 / span 2;
        font-size: 3.75rem;
        line-height: 3rem;
        padding-top: 2rem;
    }
    #proj1-title {
        color: #D5C3FF;
    }
    .proj-article p{
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #proj1-p1 {
        margin-top: 4rem;
    }
    #proj1-l1 {
        font-size: 4rem;
        line-height: 0;
        margin-top: 2rem;
    }
    #proj1-cardsort {
        display: flex;
        margin: 0 auto;
        width: 37.5rem;
    }
    .proj1-sketch-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #proj1-sketch1 {
        grid-column: 1;
    }
    #proj1-sketch2 {
        grid-column: 2;
    }
    #proj1-sketch3 {
        grid-column: 3;
    }
    .proj1-color-grid {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        grid-template-rows: repeat(13, 1fr);
        background-color: #4E00FD;
        max-height: 1100px;
    }
    #proj1-color-p {
        grid-column: 16 / span 4;
        grid-row: 3 / span 2;
        color: #F2F3F2;
        font-size: 1.5rem;
    }
    #proj1-color-scheme1 {
        grid-column: 4 / span 8;
        grid-row: 2 / span 6;
    }
    #proj1-color-scheme2 {
        grid-column: 7 / span 8;
        grid-row: 5 / span 6;
    }
    #proj1-color-scheme3 {
        grid-column: 11 / span 8;
        grid-row: 8 / span 6;
    }
    .proj1-prototyping-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #proj1-prototyping {
        display: flex;
        justify-self: center;
        width: 42rem;
    }
    #proj1-prototyping-p{
        display: flex;
        justify-self: flex-start;
        align-self: center;
        margin: 0;
    }
    #proj1-roster {
        display: flex;
        width: 41rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    #proj1-learned { 
        margin-top: 4rem;
    }

    /* Project 2 Page */
    #proj2-article {
        width: 100%;
        background-image: url(images/proj2/proj2_background.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .proj2-breakpoint-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #proj2-breakpoint-initial {
        display: flex;
        justify-content: center;
        grid-column: 1;
    }
    #proj2-breakpoint-wireframe {
        display: flex;
        justify-content: center;
        grid-column: 2;
    }
    .proj2-sketch-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        margin-top: 2rem;
    }
    #proj2-sketch-p1 {
        display: flex;
        justify-self: center;
        align-self: center;
        grid-column: 2;
        grid-row: 1;
    }
    #proj2-sketch1 {
        grid-column: 1;
        grid-row: 1
    }
    #proj2-sketch-p2 {
        display: flex;
        justify-self: center;
        align-self: center;
        grid-column: 1;
        grid-row: 2
    }
    #proj2-sketch2 {
        grid-column: 2;
        grid-row: 2;
    }
    .proj2-heuristics {
        margin: 0 auto;
        width: 50rem;
    }
    .proj2-final-images {
        margin: 0 auto;
        width: 70rem;
        margin-bottom: 2rem;
    }
    /* Project 3 Page */
    #proj3-article {
        width: 100%;
        background-image: url(images/proj3/proj3_background.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    #proj3-title {
        color: #EAEAEA;
    }
    .proj3-appflow {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    #proj3-appflow-initial {
        position: relative;
        grid-column: 2 / span 3;
        grid-row: 1 / span 2; 
        right: 10rem;
    }
    #proj3-appflow-redesign {
        position: relative;
        grid-column: 2 / span 3; 
        grid-row: 2 / span 2;
        left: 10rem; 
    }
    .proj3-animation {
        width: 100%;
        background-color: #35373E;
        max-height: 1100px;
        margin-bottom: 10em;
    }
    .proj3-animation p{
        color: #F2F3F2;
    }
    .proj3-aftereffects-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #proj3-aftereffects-p1 {
        display: flex;
        align-self: center;
        grid-column: 2;
    }
    #proj3-aftereffects-process {
        padding: 2rem;
        grid-column: 1;
        grid-row: 1;
    }
    #proj3-interaction-prototype {
        display: flex;
        margin: 0 auto;
        width: 47rem;
        overflow: visible;
    }
    #proj3-learned {
        margin-top: 20rem;
    }
    .proj3-final-prototypes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
    }
    #proj3-final1 {
        grid-column: 1;
    }
    #proj3-final2 {
        grid-column: 2;
    }
    /* Resume Page */
    .resume-fwh {
        max-width: 800px;
    }
    h1.name {
        font-size: 3.5rem;
    }
    .resume-list {
        font-size: 1.2rem;
    }
    .resume-bold {
        line-height: 1.6rem;
    }
    .resume-fade {
        font-size: 1.2rem;
    }
    /* About Page */
    #about-portrait {
        float: right;
        width: 22rem;
        border-radius: 1rem;
    }   
}
